.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font: inherit;
  padding: 0;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:focus {
    outline: none;
  }
}
