@import "../../../styles/mixins";

.content {
  max-width: 1360px;
  width: 100%;
  height: 100%;
  background-color: #219653;

  &-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px 30px;

    &__image {
      max-width: 80px;
      height: auto;

      &--anu {
        max-width: 140px;
      }

    }
  }

  &-discount {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 100%;
  }

  &-new {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 670px;
  }

  .btnMore {
    @include background-color(black);
    @include color(white);
    transition: 0.3s;

    &:hover {
      @include color(dark-Gray);
      transition: 0.3s;
    }

  }

}
