@import '../../../../styles/mixins';

.discount {
  display: flex;
  max-width: 1300px;
  position: relative;
  overflow: hidden;

  &__image {
    display: block;
    max-height: 340px;
    height: 100%;
    max-width: 670px;
    width: 100%;
    border: none;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }

  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: center;
    @include background-color(black);
    @include color(white);
    z-index: 1;
    width: 100%;
    max-height: 70px;
    height: 100%;
    padding: 0 30px;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    top: 80%;
  }
}
