@import "../../../../styles/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  height: 100%;

  &-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__tittle {
      font-size: 18px;
    }

    &__links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;

      > li {
        font-size: 12px;
        font-weight: 500;
        line-height: 14.4px;
        @include color(darkGray);

        > a:hover {
          @include color(white);
        }
      }
    }
  }
}