@import '../styles/mixins';
@import 'global';
@import 'fonts';

.App {
  @include center-flex(column);
  font-family: 'Gtrsk Peta', sans-serif;

  > a {
    text-decoration: none;
    color: white;
  }

}
