@import './variables';

@mixin center-flex($flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin background-color($color) {
  background-color: map-get($colors, $color);
}

@mixin color($color) {
  color: map-get($colors, $color);
}

@mixin border-color($color) {
  border-color: map-get($colors, $color);
}

@mixin buttonIcon {
  svg path {
    transition: fill 0.3s;
  }

  &:hover {
    svg path {
      fill: #828b8d;
    }
  }
}

@mixin blackWhite {
  @include background-color(black);
  @include color(white);
  max-width: 408px;
  width: 100%;
  height: 50px;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}

@mixin whiteBlack {
  @include background-color(white);
  @include color(black);
  @include border-color(black);
  height: 50px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}

@mixin redWhite {
  @include background-color(red);
  @include color(white);
  height: 70px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(gray);
  }
}

@mixin whiteRed {
  @include background-color(white);
  @include color(red);
  @include border-color(red);
  height: 70px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}
