@import './variables';

@mixin center-flex($flex-direction: column) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin background($color) {
  background-color: map-get($colors, $color);
}

@mixin color($color) {
  color: map-get($colors, $color);
}

@mixin border-color($color) {
  border-color: map-get($colors, $color);
}

@mixin buttonIcon {
  svg path {
    transition: fill 0.3s;
  }

  &:hover {
    svg path {
      fill: #828b8d;
    }
  }
}

@mixin blackWhite {
  @include background(black);
  @include color(white);
  max-width: 408px;
  width: 100%;
  height: 50px;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}

@mixin whiteBlack {
  @include background(white);
  @include color(black);
  @include border-color(black);
  height: 50px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}

@mixin redWhite {
  @include background(red);
  @include color(white);
  height: 70px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(gray);
  }
}

@mixin whiteRed {
  @include background(white);
  @include color(red);
  @include border-color(red);
  height: 70px;
  max-width: 408px;
  width: 100%;
  transition: 0.3s;

  &:hover {
    @include color(darkGray);
  }
}

@mixin style404 {
  color: #fff;
  font-weight: bold;
  text-shadow:
          0 .005em 0 #ccc,
          0 .01em 0 #c9c9c9,
          0 .015em 0 #bbb,
          0 .02em 0 #b9b9b9,
          0 .025em 0 #aaa,
          0 .03em .005em rgba(0,0,0,.1),
          0 0 .025em rgba(0,0,0,.1),
          0 .005em .015em rgba(0,0,0,.3),
          0 .015em .025em rgba(0,0,0,.2),
          0 .025em .05em rgba(0,0,0,.25),
          0 .05em .05em rgba(0,0,0,.2),
          0 .1em .1em rgba(0,0,0,.15);
}
