//Цвета
$colors: (
        black: #000000,
        white: #ffffff,
        dark-Gray: #828b8d,
        gray: #ced4d7,
        light-gray: #f9f9f9,
        green: #219653,
        red: #eb5757,
        gray-1: #ced4d7
);

//Шрифты
$font-H0: (
        font-family: Gtrsk Peta,
        font-style: bold,
        font-size: 48px,
        line-height: Auto,
        letter-spacing: -2,
        color: #000000
);

$font-H1: (
        font-family: Gtrsk Peta,
        font-style: bold,
        font-size: 32px,
        line-height: 40,
        letter-spacing: -2,
        color: #000000
);

$font-H1-1: (
        font-family: Gtrsk Peta,
        font-style: bold,
        font-size: 32px,
        line-height: Auto,
        letter-spacing: -2,
        color: #000000
);

$font-H2: (
        font-family: Gtrsk Peta,
        font-style: bold,
        font-size: 21px,
        line-height: 35,
        letter-spacing: -2,
        color: #000000
);

$font-H3-Capital: (
        font-family: Gtrsk Peta,
        font-style: medium,
        font-size: 16px,
        line-height: 30,
        letter-spacing: -2,
        color: #000000
);

$font-H4-Capital: (
        font-family: Gtrsk Peta,
        font-style: medium,
        font-size: 14px,
        line-height: 25,
        letter-spacing: -2,
        color: #000000
);

//Текста
