.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 50px;
  font: inherit;
  cursor: pointer;
  padding: 0 90px ;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.02em;
}