.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 465px;
  border: 1px solid black;
  background-color: white;

  &-picture {
    max-height: 370px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;

    &__favorite {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin: 10px 10px 0 auto;
      background-color: white;
      border: 1px solid #d9d9d9;
      transition: 0.3s;

      &:hover {
        border-color: black;

        svg path {
          fill: white;
        }
      }

      &--active {
        transition: 0.3s;
        background-color: black;

        > svg path {
          fill: white;
        }
      }
    }

    &__image {
      border: 1px solid black;
      max-width: 270px;
      width: 100%;
      height: auto;
    }

    &__bonuses {
      display: flex;
      width: 100%;
      max-height: 25px;
      height: 100%;

      &--discount {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 55px;
        width: 100%;
        color: white;
        background-color: #eb5757;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.02em;
      }

      &--site {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 135px;
        width: 100%;
        color: white;
        background-color: #333333;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.02em;
      }
    }
  }

  &-description {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    &__name {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.02em;
    }

    &__type {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.02em;
    }
  }

  &-price {
    border: 1px solid black;

    &__total {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.02em;
      margin: 0 20px 0 0;

      &--discounted {
        text-decoration: line-through;
      }

      &::after {
        content: ' ₽';
      }
    }

    &__totalDiscount {
      color: #eb5757;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.02em;

      &::after {
        content: ' ₽';
      }
    }
  }

  //@media (max-width: 1150px) {
  //  height: 400px;
  //
  //  &-picture {
  //    height: 90%;
  //  }
  //
  //}
}