//Цвета

$Black: #000000;
$White: #FFFFFF;
$Dark-Gray: #828B8D;
$Gray: #CED4D7;
$Light-Gray: #F9F9F9;
$Green: #219653;
$Red: #EB5757;
$Gray-1: #CED4D7;

//Шрифты

$font-family: Gtrsk Peta;
$font-style: bold;
$font-size: 48px;
$line-height: Auto;
$letter-spacing: -2;

