@import '../styles/mixins';

.footer {
  width: 100%;
  max-height: 600px;
  height: 100%;
  background-color: white;
  position: relative;
  @include center-flex(row);
  color: white;

  .container {
    position: absolute;
    max-width: 1360px;
    width: 100%;
    max-height: 410px;
    height: 100%;
    @include center-flex(column);
    justify-content: space-between;
    margin-top: 100px;
    border: 1px solid white;

    .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logoWrapper {
      max-width: 280px;
      width: 100%;
      max-height: 70px;
      height: 100%;

      .logo {
        width: inherit;
        height: inherit;
      }
    }

    .discount {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 667px;
      width: 100%;
      max-height: 48px;
      height: 100%;
      border: 1px solid white;

      .percentWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 430px;
        width: 100%;
      }

      .percent {
        color: red;
      }

    }

    .content {
      width: 100%;
      max-height: 280px;
      height: 100%;
      border-bottom: 1px solid #ffffff33;
      border-top: 1px solid #ffffff33;

      .item {
        border: 1px solid white;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .ite {
          display: flex;
          justify-content: space-between;
          width: 100%;
        }

        .storeWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

      }

      .footerNavigation {
        display: flex;
        max-width: 600px;
        width: 100%;
        height: inherit;

        .helpWrapper {
          flex-direction: column;
          align-items: flex-start;

          //&li:first-child {
          //  color: black;
          //}

        }

        .companyWrapper {
          flex-direction: column;
          align-items: flex-start;
        }

        .incWrapper {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
